# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    shm_size: 256mb
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: work

  adminer:
    image: adminer
    restart: always
    ports:
      - "9001:8080"
